body {
  background: url(images/admin1.jpg);
  background-repeat: repeat;
  background-size: cover;
}

#logo {
  width: 40px;
  height: 40px;
  display: inline;
  margin-bottom: 10px;
  vertical-align: top;
}

.navbar-brand {
  font-family: Paytone One;
}

h1 {
  font-size: 4em;
  font-family: Pacifico;
  word-spacing: 15px;
  color: white;
}
h2 {
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
