<!DOCTYPE html>
<html>
<head>
	<title>GDC Airways</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Paytone+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="admin/admin.css">
</head>

<body>

  <!--NavBar-->
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a href="/home_admin" class="navbar-brand"> GDC AIRWAYS</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        		<span class="sr-only">Toggle navigation</span>
	      </button>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/home_admin"><strong>Home</strong></a></li>
                    <li><a href="/airport"><strong>Airport</strong></a></li>
                    <li><a href="/airplane"><strong>Airplane</strong></a></li>
                    <li><a href="/maintenance"><strong>Maintenance</strong></a></li>
                    <li><a href="/route"><strong>Route</strong></a></li>
                    <li class="active"><a href="#"><strong>Status</strong></a></li>
                    <li><a href="/schedule"><strong>Schedule</strong></a></li>
                    <li><a href="/flight_time"><strong>Flight Time</strong></a></li>
                    <li><a href="/staff"><strong>Staff</strong></a></li>
                    <li><a href="/sales"><strong>Sales</strong></a></li>
                    <li><a href="/revenue"><strong>Revenue</strong></a></li>
				</ul>
			</div>
		</div>
	</nav>
  <!--NavBar End-->
  <h2>Update Status</h2>
  <form>
      <label for="statusRouteCode">Code:</label>
      <input type="text" id="statusRouteCode" name="statusRouteCode">
      <br>
      <label for="status">Status:</label>
      <select id="status" name="status">
          <option value="rd">Operating</option>
          <option value="nrd">Under Maintenance</option>
      </select>
      <br>
      <br>
      <button type="submit">Update Status</button>
  </form>

</body>
</html>
