<!DOCTYPE html>
<html>

	<head>
		<title>GDC Airways - Contact</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
			integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="contacts.css">
		<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Paytone+One" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="/home_user" class="navbar-brand"><img src="images/logo.png" id="logo"> GDC AIRWAYS</a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"">
				<ul class=" nav navbar-nav">
					<li><a href="/home_user"><strong>Home</strong></a></li>
					<li><a href="/user_about"><strong>About</strong></a></li>
					<li class="active"><a href="#"><strong>Contacts</strong></a></li>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/user_profile"><strong>User Profile</strong></a></li>
            <li><a href="/user_logout"><strong>Logout</strong></a></li>
					</ul>
				</div>
			</div>
		</nav>


		<h1>Contacts</h1>

		<div id="first">
			<h2>Contact Us</h2>
			<p>Should you need to reach out to the Customer Relations team for any grievance redressal.</p>
			<p>Email us at: custrelations@gdc.com</p>
			<p>Call Us at: +91 9999988888 or +91 8888899999</p>
			<hr>
			<h2>Grievance Redressal Procedure</h2>
			<p>For any grievance or query please fill the Grievance Redressal Procedure Form</p>
			<hr>
			<h2>Related Links</h2>
			<p>Travel Agency - Henav Tours And Travels</p>
		</div>

		<div id="second">
			<h2 id="space2">Grievance Redressal Procedure Form</h2>
			<input type="text" name="name" placeholder="Name">
			<br><br>
			<input type="email" name="email" placeholder="Email-Id">
			<br><br>
			<input type="text" name="subject" placeholder="Subject">
			<br><br>
			<textarea name="message" rows="8" placeholder="Message"></textarea>
			<br><br>
			<button type="button">Send</button>
		</div>

	</body>

</html>
