<!DOCTYPE html>
<html>

  <head>
    <title>GDC Airways - About</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="about.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Paytone+One" rel="stylesheet">
  </head>

  <body>

    <!--NavBar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/home_user" class="navbar-brand"><img src="images/logo.png" id="logo"> GDC AIRWAYS</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"">
				<ul class=" nav navbar-nav">
          <li><a href="/home_user"><strong>Home</strong></a></li>
          <li class="active"><a href="#"><strong>About</strong></a></li>
          <li><a href="/user_contacts"><strong>Contacts</strong></a></li>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user_profile"><strong>User Profile</strong></a></li>
            <li><a href="/user_logout"><strong>Logout</strong></a></li>
          </ul>
          </ul>
        </div>
      </div>
    </nav>
    <!--NavBar End-->

    <h1>About us</h1>
    <div class="container" id="cell">
      <p font-s><b>Airline Management</b></p>
      <p>The airline industry is a highly competitive and dynamic sector that requires constant innovation and
        adaptation to meet the changing needs and expectations of the customers and the market. The airline management
        database system aims to provide a convenient and efficient way for both the admin and the customers to manage
        and access the information related to the airline’s operations and services. The system allows the admin to
        perform various tasks such as adding, deleting, or updating the data of airplanes, flight routes, flights,
        staff, sales, revenue, and airports. The system also allows the customers to create an account, view information
        about flights and air tickets, and book or cancel tickets online. The system ensures the data integrity and
        consistency by validating the input and reporting errors when necessary. The system also provides statistics and
        reports for the admin to monitor and evaluate the performance and profitability of the airline. The system aims
        to improve customer satisfaction and loyalty by offering discounts and flexible options for booking and
        cancellation. The system also aims to enhance the communication and coordination among the staff and the admin
        by assigning staff to flights and providing their contact information. The system ultimately aims to help the
        airline achieve its strategic goals and objectives in the competitive and dynamic market.
      </p>
      <br>
      <p><b>Group 6: Airline Management System</b></p>
      <p>20226025-PHUNG DUC DAT</p>
      <p>20226052-NGUYEN TRUNG KIEN</p>
      <p>20226027-HA MINH DUC</p>
    </div>
  </body>

</html>